@import '/node_modules/@carbon/colors';
@import '/node_modules/carbon-components/scss/globals/scss/spacing';

$primary-color: #ed772d;
$primary-hover: #dc6013;
$very-dark-gray: $gray-100;
$dark-gray: $gray-90;
$gray: $gray-70;
$light-gray: $gray-30;
$very-light-gray: $gray-10;
$light-blue: $blue-20;
$white: $white;
$spacing: 1rem;
// $secondary-color: #bfbfbf26;
// $primary-text: #161616;
// $secondary-text: #525252;
// $light: #f4f4f4;
// $light-gray: #00000026;

$header-height:  $spacing-09;
$menu-width: 18rem;
$animacion-transform: .2s ease-in-out;
