@import 'variables';

.navbar{
    position: fixed;
    z-index: 8000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: $header-height;
    align-items: center;
    background-color: $very-dark-gray;
    justify-content: space-between;
    padding-right: 1rem;
    
    &__left{
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: right;
        background-color: black;

        .navbar__logo{
            height: 2rem;
            width: auto;
            object-fit: cover;
            margin-left: .5rem;
            border-radius: .15rem;
            transition: transform $animacion-transform;
            
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    &__user-info{
        display: flex;
        align-items: center;

        .navbar__header-icon{
            width: 1.5rem;
            height: 1.5rem;

            path{
                fill: $white;
            }
        }
    }
    
}


