@import '/node_modules/@carbon/colors';
@import '/node_modules/carbon-components/scss/globals/scss/spacing';

.navbar{
    position: fixed;
    z-index: 8000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: $spacing-09;
    align-items: center;
    background-color: $gray-100;
    justify-content: space-between;
    padding-right: 1rem;
    
    .navbar-left{
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: right;
        background-color: black;

        .logo{
            height: 2rem;
            width: auto;
            object-fit: cover;
            margin-left: .5rem;
            border-radius: .15rem;
            cursor: pointer;
            transition: transform .2s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .user-info{
        display: flex;
        align-items: center;

        .header-icon{
            width: 24px;
            height: 24px;

            path{
                fill: $white;
            }
        }
    }
    
}


