<div class="wrapper">
    <div class="header">
        <h1 class="title">{{ 'work.order.update.header' | translate }}</h1>
    </div>
    <form class="container" [formGroup]="woForm">
        <div ibmGrid>
            <div ibmRow>
                <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.client.label' | translate }}
                        <input
                            ibmText
                            formControlName="cli"
                            readonly
                        />
                    </ibm-label>
                </div>
                <div ibmCol [columnNumbers]="{'md': 6, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.corporate.name.label' | translate }}
                        <input
                            ibmText
                            formControlName="raz"
                            readonly
                        />
                    </ibm-label>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol [columnNumbers]="{'md': 4, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.address.label' | translate }}
                        <input
                            ibmText
                            formControlName="dir"
                            readonly
                        />
                    </ibm-label>
                </div>
                <div ibmCol [columnNumbers]="{'md': 4, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.city.label' | translate }}
                        <input
                            ibmText
                            formControlName="pobdes"
                            readonly
                        />
                    </ibm-label>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol [columnNumbers]="{'md': 4, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.province.label' | translate }}
                        <input
                            ibmText
                            formControlName="prodes"
                            readonly
                        />
                    </ibm-label>
                </div>
                <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.phone.label' | translate }}
                        <input
                            ibmText
                            formControlName="tel"
                            readonly
                        />
                    </ibm-label>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                    <ibm-label>
                        {{ 'work.order.update.salesrep.label' | translate }}
                        <input
                            ibmText
                            formControlName="almnro"
                            readonly
                        />
                    </ibm-label>
                </div>
                <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                    <ibm-number
                        [label]="'work.order.update.km.label' | translate"
                        min="0"
                        formControlName="km"
                        [placeholder]="'work.order.update.km.placeholder' | translate"
                    >
			        </ibm-number>
                </div>            
                <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                    <ibm-number
                        [label]="'work.order.update.mechanic.label' | translate"
                        min="0"
                        formControlName="mec"
                        [placeholder]="'work.order.update.mechanic.placeholder' | translate"
                        >
			        </ibm-number>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol [columnNumbers]="{'md': 8, 'sm': 12}">
                    <ibm-label>
                        {{'work.order.update.comments.label' | translate}}
                        <textarea
                            rows="5"
                            ibmTextArea
                            formControlName="com"
                            [placeholder]="'work.order.update.comments.placeholder' | translate"
                        ></textarea>
                    </ibm-label>
                </div>
                <div ibmCol></div>
            </div>
        </div>
    </form>
</div>
