<ibm-modal
    size="sm"
    [open]="open"
    (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>{{ 'label.userconfig.title' | translate | async }}</h3>
    </ibm-modal-header>
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <section ibmModalContent [hasForm]="true" class="section">
            <ibm-label
                [invalid]="NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']"
                invalidText="{{ 'label.userconfig.error.no.language' | translate | async }}"
            >
                {{'label.userconfig.username.label' | translate | async }}
                <input                    
                    type="text" 
                    ibmText 
                    placeholder="{{'label.login.NomUsuarioSesion' | translate | async }}"
                    formControlName="NomUsuarioSesion"
                    [invalid]="NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']"
                    [ngClass]="{'ng-invalid ng-dirty': NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']}"
                     />                     
            </ibm-label>
            <ibm-label
            >
                {{'label.userconfig.company.label' | translate | async }}
                <input                    
                    type="text" 
                    ibmText 
                    placeholder="{{'label.login.NomEmpresaSesion' | translate | async }}"
                    formControlName="NomEmpresaSesion" />
                     
            </ibm-label>
            <ibm-label
                [invalid]="CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']"
                invalidText="{{ 'label.userconfig.error.no.language' | translate | async }}"
            >
                <ibm-select
                    size="md"
                    label="{{ 'label.userconfig.language.label' | translate | async }}"
                    theme="light"
                    display="default"
                    formControlName="CodIdiomaSesion"
                    [invalid]="CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']"
                    [ngClass]="{'ng-invalid ng-dirty': CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']}"
                    >
                    <option value="" disabled selected hidden>{{ 'label.userconfig.language.placeholder' | translate | async }}</option>
                    <option value="es">{{ 'label.userconfig.language.spanish' | translate | async }}</option>
                    <option value="pt">{{ 'label.userconfig.language.portuguese' | translate | async }}</option>
                </ibm-select>
            </ibm-label>
        </section>
        <ibm-modal-footer>
            <button 
                type="button"
                class="bx--btn bx--btn--secondary" 
                (click)="closeModal()">{{ 'label.userconfig.button.cancel' | translate | async }}</button>
            <button 
                type="submit" 
                class="bx--btn bx--btn--primary" 
                [disabled]="!configForm.valid"
                modal-primary-focus>
            {{ 'label.userconfig.button.accept' | translate | async }}</button>
        </ibm-modal-footer>
    </form>
</ibm-modal>