<ibm-modal
    size="sm"
    [open]="open"
    (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>{{ 'userconfig.header.title' | translate }}</h3>
    </ibm-modal-header>
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <section ibmModalContent [hasForm]="true" class="section">
            <ibm-label
                class="modal-label"
                [invalid]="NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']"
                invalidText="{{ 'userconfig.error.no.language' | translate }}"
            >
                {{'userconfig.username.label' | translate }}
                <input                    
                    type="text" 
                    ibmText 
                    placeholder="{{'label.login.NomUsuarioSesion' | translate }}"
                    formControlName="NomUsuarioSesion"
                    [invalid]="NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']"
                    [ngClass]="{'ng-invalid ng-dirty': NomUsuarioSesion.touched && NomUsuarioSesion.errors?.['required']}"
                     />                     
            </ibm-label>
            <ibm-label
            >
                {{'userconfig.company.label' | translate }}
                <input                    
                    type="text" 
                    ibmText 
                    placeholder="{{'label.login.NomEmpresaSesion' | translate }}"
                    formControlName="NomEmpresaSesion" />
                     
            </ibm-label>
            <ibm-label
                [invalid]="CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']"
                invalidText="{{ 'userconfig.error.no.language' | translate }}"
            >
                <ibm-select
                    size="md"
                    label="{{ 'userconfig.language.label' | translate }}"
                    theme="light"
                    display="default"
                    formControlName="CodIdiomaSesion"
                    [invalid]="CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']"
                    [ngClass]="{'ng-invalid ng-dirty': CodIdiomaSesion.touched && CodIdiomaSesion.errors?.['required']}"
                    >
                    <option value="" disabled selected hidden>{{ 'userconfig.language.placeholder' | translate }}</option>
                    <option value="es">{{ 'userconfig.language.spanish' | translate }}</option>
                    <option value="pt">{{ 'userconfig.language.portuguese' | translate }}</option>
                </ibm-select>
            </ibm-label>
        </section>
        <ibm-modal-footer>
            <button 
                type="button"
                class="bx--btn bx--btn--secondary" 
                (click)="closeModal()">{{ 'userconfig.button.cancel' | translate }}</button>
            <button 
                type="submit" 
                class="bx--btn bx--btn--primary" 
                [disabled]="!configForm.valid"
                modal-primary-focus>
            {{ 'userconfig.button.accept' | translate }}</button>
        </ibm-modal-footer>
    </form>
</ibm-modal>