@import 'variables';

.layout-container{
    margin-left: 0;
    margin-top: $header-height;
    width: 100%;
    height: calc(100% - $header-height);
}

.layout-container--expanded{    
    margin-left: $menu-width;
    width: calc(100% - $menu-width);
}